.button{
    background: rebeccapurple;
    border: none;
    line-height: 1;
    outline: none;
    margin-left: 1.3rem;
    padding: 1.3rem;
    cursor: pointer;
    color: whitesmoke;
    transition: background .2s ease,
                transform .2s ease;

    &:hover, &.focus {
        background: rgb(241, 0, 80);
    }

    &:active {
        transform: scale(1.1);
    }
}

.round {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.btn-del{
    background: rgb(241, 0, 80);

    &:hover{
        background: rebeccapurple;
    }
}