.player{
    align-items: center;
    display: flex;
    justify-content: space-between;

    .name{
        font-weight: 300;
        font-size: 1.8rem;
    }

    .stats{
        font-size: 1.3rem;
        font-style: italic;
        font-weight: 300;
    }

    .actions{
        flex-shrink: 0;
    }
}